import /vendor/etc/init/hw/init.oppo.fingerprints.rc

on init
    mount none /system/etc/manifest.xml /vendor/manifest.xml bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    mount none /system/etc/empty /vendor/app/SmartcardService/SmartcardService.apk bind
    mount none /system/etc/empty /vendor/bin/hw/vendor.oppo.hardware.biometrics.face@1.0-service bind
    mount none /fstab.qcom /vendor/etc/fstab.qcom bind
    mount none /init.msm.usb.configfs.rc /vendor/etc/init/init.msm.usb.configfs.rc bind
 
on boot

    # Touchscreen
    chown system system /proc/touchpanel/double_tap_enable
    chown 0660 /proc/touchpanel/double_tap_enable

    # OTG
    write /sys/class/power_supply/usb/otg_switch 1
